#rc-imageselect {
    min-width: 240px;
    font-family: Roboto, helvetica, arial, sans-serif;
    background-color: #fff
}

#rc-imageselect .rc-button:focus {
    outline: none
}

.rc-imageselect-payload {
    min-width: 240px;
    margin: 0 7px;
    padding: 7px 0
}

.rc-imageselect-instructions {
    height: 113px;
    width: 100%;
    margin-bottom: 7px;
    position: relative
}

.rc-imageselect-instructions strong {
    font-weight: 900;
    display: block;
    font-size: 28px
}

.rc-imageselect-desc-wrapper {
    background-color: #1a73e8;
    position: relative;
    padding: 24px;
    color: white;
    height: 66px;
    font-size: 16px;
    margin-bottom: 6px
}


.rc-imageselect-desc-no-canonical {
    position: relative
}

/* Grid */

.rc-imageselect-challenge {
    position: relative;
    width: 100%;
    height: 100%
}

.rc-imageselect-challenge {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.rc-imageselect-table-44 {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}

.rc-imageselect-table-44 {
    margin: -1px
}

.rc-imageselect-table-44 td {
    padding: 1px
}

.rc-image-tile-target tr,
td {
    margin: 0
}

.rc-imageselect-dynamic-selected .rc-image-tile-target {
    opacity: 1
}

.rc-image-tile-target {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative
}

.rc-imageselect-tileselected .rc-image-tile-wrapper {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8)
}

.rc-image-tile-wrapper {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0)
}

.rc-image-tile-wrapper {
    overflow: hidden;
    position: relative;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease
}

.rc-image-tile-wrapper img {
    position: relative;
    -webkit-user-drag: none;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden
}

.tile_image {
    width: 400%;
    height: 400%
}

.rc-imageselect-checkbox {
    background: url("imgs/blue_checkmark.svg");
    width: 26px;
    height: 26px;
    display: none;
    position: absolute
}

.rc-imageselect-tileselected .rc-imageselect-checkbox {
    display: block;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

/* Bottom section */

.rc-imageselect-error-select-more {
    color: #d14836;
    font-size: 14px;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    background-color: white
}

.rc-footer {
    font-family: Roboto, helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
    min-width: 240px
}

.rc-separator {
    border-top: 1px solid #dfdfdf;
    margin-bottom: 1px
}

.rc-controls {
    width: 100%
}

.primary-controls {
    height: 60px
}

.verify-button-holder {
    float: right;
    margin: 8px 8px 9px 0
}

.rc-button-default {
    background: #1a73e8;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    line-height: 42px;
    min-width: 100px;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.rc-button-default:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2pt #185abc;
    -moz-box-shadow: 0 0 0 2pt #185abc;
    box-shadow: 0 0 0 2pt #185abc
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block
}

* html .goog-inline-block {
    display: inline
}

*:first-child+html .goog-inline-block {
    display: inline
}