.center {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

body {
    margin: 0
}

#instructions {
    font-family: Roboto, helvetica, arial, sans-serif;
}