/* CSS */
#game-canvas {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
}

body {
    margin: 0
}

#instructions {
    font-family: Roboto, helvetica, arial, sans-serif;
}

#main-menu,
#game-back,
#player-character,
#end-screen,
#rc-anchor-container,
#image-select {
    grid-area: 1 / 1;
    place-self: center;
}

#image-select {
    width: 400px;
    border: 1px solid gainsboro;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease 0s;
}

#rc-anchor-container {
    width: 350px;
}

.rc-anchor-normal-footer {
    float: right;
}

#recaptcha-anchor-label {
    opacity: 1;
    transition: opacity 0.75s ease 0s;
}

#main-menu {
    width: 640px;
    height: 640px;
    background-image: url("imgs/menu_title.jpg");
}

#game-back {
    width: 640px;
    height: 640px;
    background-image: url("imgs/level.jpg");
}

#player-character {
    width: 640px;
    height: 640px;
    background-image: url("imgs/player.png");
}

#end-screen {
    width: 640px;
    height: 640px;
    background-image: url("imgs/win.jpg");
}

.hidden {
    visibility: hidden;
}

div:focus {
    outline: none;
}